body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.layout {
  display: flex;
  width: 100%;
  max-width: 900px; 
  padding: 20px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.nameContainer {
  background-color: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menuContainer {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftColumn {
  flex: 1; 
  max-width: 300px; 
  margin-right: 20px;
}

.rightColumn {
  flex: 2;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.field-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; /* Make sure the input field occupies the full width */
  height: 40px;
  margin: 10px;
  

}

.field-container label {
  width: 200px;
  margin-right: 20px;
}

/* Password toggle button style (smaller button inside the input field) */
.field-container .save-edit {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  padding: 0; /* Ensure no extra padding */
  width: auto; /* Prevent it from expanding to the full width */
  height: auto; /* Prevent it from expanding vertically */
}

/* Password toggle button style (smaller button inside the input field) */
.field-container .toggle-edit {
  position: absolute;
  right: 50px;
  top: 25%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  padding: 0; /* Ensure no extra padding */
  width: auto; /* Prevent it from expanding to the full width */
  height: auto; /* Prevent it from expanding vertically */
}

.message-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;  /* Initially hidden */
  z-index: 999;
}